<template id="sign-in-form">
  <el-dialog
    title="登录"
    v-bind:visible.sync="visible"
    v-on:close="close">
    <el-form v-bind:model="sign_in" ref="sign_in">
      <el-form-item label="邮箱" prop="email">
        <el-input type="email" v-model="sign_in.email"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" v-model="sign_in.password"></el-input>
      </el-form-item>
      <el-form-item prop="authenticity_token">
        <el-input type="hidden" v-model="sign_in.authenticity_token"></el-input>
      </el-form-item>
    </el-form>
    <div class="footer">
      <el-button type="primary" v-on:click="signIn">登录</el-button>
      <el-button>注册</el-button>
    </div>
  </el-dialog>
</template>

<script>
  var sign_in_form = Vue.extend({
    template: '#sign-in-form',
    props: {
      visible: {
        type: Boolean
      }
    },
    data() {
      return {
        sign_in: {
          email: '',
          password: '',
          authenticity_token: '<%= form_authenticity_token %>'
        }
      }
    },
    methods: {
      close() {
        this.$emit('close');
      },
      signIn() {
        this.close();
        axios.post('/sessions', this.sign_in).then(response => {
          window.location.reload();
        })
      }
    }
  })
</script>