<template id="major-nav">
  <div id="major-nav-container">
    <div class="major-nav">

    </div>
    <div class="advertisement">

    </div>
  </div>
</template>

<script>
  var major_nav = Vue.extend({
    template: '#major-nav',
    data() {
      return {

      }
    }
  })
</script>