<template id="major-nav">
  <div id="major-nav-container">
    <div class="major-nav">
      <template v-for="major in majors">
        <div>
          <h4>{{ major.name }}</h4>
          <template v-for="field in major.fields">
            <li class="fields-list">{{ field.name }}</li>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  var major_nav = Vue.extend({
    template: '#major-nav',
    data() {
      return {
        majors: []
      }
    },
    created() {
      this.getMajors();
    },
    methods: {
      getMajors() {
        axios.get('/majors').then(response => {
          this.majors = response.data.majors
        })
      }
    }
  })
</script>