<% enable_vue_support %>

<div id="post-list">
  <el-input v-model="search" placeholder="搜索" class="post-search"></el-input>
  <li v-for="post in filteredPosts">
    <el-row>
      <el-col v-bind:span="6" class="post-category" v-bind:class="post.category">
        <span>{{ post.tag }}</span>
      </el-col>
      <el-col v-bind:span="18">
        <el-card class="post-card">
          <h3>{{ post.topic }}</h3>
          <p>{{ post.content }}</p>
        </el-card>
      </el-col>
    </el-row>
  </li>
</div>

<script>
  var post_list = new Vue({
    el: '#post-list',
    data: {
      posts: [],
      search: ''
    },
    created() {
      this.getPosts();
    },
    computed: {
      filteredPosts() {
        return this.posts.filter(post => {
          return post.topic.match(this.search) || post.content.match(this.search);
        })
      }
    },
    methods: {
      getPosts() {
        axios.get('/posts.json').then(response => {
          this.posts = response.data
          console.log(response.data)
        })
      }
    }
  })
</script>
