<% enable_vue_support %>

<div id="post-list">
  <div class="post-search-container">
    <div class="post-search">
      <el-input v-model="search" placeholder="搜索">
        <el-button slot="append" icon="el-icon-search"></el-button>
      </el-input>
    </div>
  </div>

  <el-row>
    <el-col :span="8"><major-nav></major-nav></el-col>
    <el-col :span="16"><advertisement-box></advertisement-box></el-col>
  </el-row>

  <post_lists></post_lists>
</div>

<%= render 'major_nav' %>
<%= render 'advertisement_box' %>
<%= render 'post_lists' %>

<script>
  var post_list = new Vue({
    el: '#post-list',
    components: {
      'major-nav': major_nav,
      'advertisement-box': advertisement_box,
      'post-lists': post_lists
    },
    data: {
      search: ''
    },
    created() {
    },
    methods: {
    }
  })
</script>
