<% enable_vue_support %>
<p id="notice"><%= notice %></p>
<%= link_to "Student Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
<h1>Posts</h1>
<div id="posts-table">
  <template>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="topic" label="主题">
        <template scope="scope">
          <a :href="'/posts/' + scope.row.id">{{ scope.row.topic }}</a>
        </template>
      </el-table-column>
      <el-table-column prop="contact_person" label="创建人" width="180"></el-table-column>
      <el-table-column prop="created_at" label="创建时间" width="280"></el-table-column>
    </el-table>
  </template>
</div>
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
<script>
  var vm = new Vue({
    el: '#posts-table',
    data: {
      tableData: []
    },
    created: function() {
      this.getJson();
    },
    methods: {
      getJson() {
        var that = this
        $.getJSON('<%= posts_path %>', function(data) {
          that.tableData = data;
        });
      }
    }
  })
</script>
