<% enable_vue_support %>
<p id="notice"><%= notice %></p>

<div id="post" class="post">

  <el-container>
    <el-header><h2>{{postData.topic}}</h2></el-header>
    <el-main>
      <p>{{postData.content}}</p>
      <p>{{formatDate(postData.created_at)}}</p>
      <p>{{postData.contact_person}}</p>
      <ul>
        <li v-for="comment in postData.comments">{{comment.content}}
          <span>{{ formatDate(comment.created_at) }}</span>
        </li>
      </ul>
    </el-main>
  </el-container>

</div>




<%= render 'comments/comment' %>

<script>
  var vm = new Vue({
    el:"#post",
    data() {
      return {
        postData: []
      }
    },
    created: function() {
      this.getPost();
    },
    methods: {
      getPost() {
        axios.get("/posts/<%= @post.id %>.json").then(response => {
          this.postData = response.data
        })
      },
      formatDate: function (date) {
        return moment(String(date)).format('MM/DD/YYYY hh:mm')
      }
    }
  })
</script>